@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  margin: 0;
  background-color: transparent;
  border: 1px solid white;
  width: 30%;
  height: 90%;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.input{
  width: 80%;
  height: 10%;
  margin-top: 10%;
  border-radius: 1rem;
  color: white;
  font-family: 'Atkinson Hyperlegible';
  font-size: 2rem;
}
.keyspad{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  height: 60%;
  margin-block-end: 2rem;
  
}
.keyspad button{
  border-radius: 20px;
}
.equal{
  grid-column:1 / -1;
}
